textarea {
    border: none;
    resize: none;
    outline: 0;
}

.tc-notes-wrapper {
    .tc-notes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 0 auto;

        .tc-note {
            background-color: white;
            border-radius: 8px;
            width: 100%;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
            transition: all 0.5s;
            cursor: pointer;

            .tc-note-header {
                padding: 10px 16px 0;

                .tc-note-close {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    line-height: 24px;
                    text-align: center;
                    transition: all 0.3s;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                    }

                    &:focus {
                        box-shadow: inset 2px 3px 0px rgba(0, 0, 0, 0.8);
                    }
                }

                .tc-note-close {
                    float: right;
                }
            }

            @media only screen and (max-width: 550px){
                .tc-note-header {
                    padding: 5px 8px 0;
                }
            }

            .tc-note-description {
                width: 100%;
                font-size: 15px;
                padding: 10px 16px 16px;
            }

            @media only screen and (max-width: 550px){
                .tc-note-description {
                    padding: 0 8px 8px;
                }
            }

            &:hover {
                box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}
