.ais-Hits.project {
    list-style: none;
    text-align: center;
    margin-top: 30px;
    .ais-Hits-item {
        border: none;
        box-shadow: none;
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 5px;
    }
    .ais-Pagination-list {
        margin-top: 10px;
    }
}

.ais-RefinementList.project{
    .ais-RefinementList-list {
        display: flex;
        grid-gap: 20px;
    }
    margin-top: 20px;

    @media only screen and (max-width: 550px){
        .ais-RefinementList-list {
            display: grid;
            padding: 5px;
        }
    }
}

@media screen and ( max-width: 550px ){
    .ais-Stats.stats1 {
        text-align: center;
    }

    .ais-Pagination.pagination1 {

        .ais-Pagination-list {
            .ais-Pagination-item {

                display: none;
            }

            .ais-Pagination-item:first-child,
            .ais-Pagination-item:nth-child( 2 ),
            .ais-Pagination-item:nth-last-child( 2 ),
            .ais-Pagination-item:last-child,
            .ais-Pagination-item.active,
            .ais-Pagination-item.disabled {

                display: block;
            }
        }
    }
}
