ul.ul1 {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 20px;
    list-style: none;
    padding: 0;
}

div.d1 {
    grid-gap: 10px;
    justify-content: end;
}

@media only screen and (max-width: 550px){
    ul.ul1 {
        grid-template-columns: repeat(1, auto);
    }
    div.d1 {
        justify-content: center;
    }
}
