div.c1 {
    border: 1px solid;
    padding: 10px;
}

div.div1 {
    display: flex;
    justify-content: space-between;
    grid-gap: 200px;
}

div.div2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-gap: 10px;
}

div.div3 {
    display: inline-flex;
    grid-gap: 10px;
}


div.div4 {
    display: flex;
    justify-content: space-between;
}

form.form1 {
    display: flex;
    flex-direction: column;
}
