h5 {
    text-align: center;
}

li.li1 {
    margin-top: 2%;
    width: 20%;
    list-style: none;
}

@media only screen and (max-width: 550px){
    li.li1 {
        margin-top: 2%;
        width: 50%;
        list-style: none;
    }
}
