<template>
    <div class="tc-notes-wrapper">
        <form v-if="role!=='view' && project_finished===null">
            <button type="submit" class="btn btn-outline-primary mt-md-5 mt-4 mb-3" v-on:click.prevent="created">
                <i class="fas fa-sticky-note"></i> Dodaj notatke
            </button>
        </form>
        <div class="tc-notes">
            <div class="tc-note" v-for="memo in memos" :style="{ cursor : isPointer }">
                <div class="tc-note-header">
                        <span class="tc-note-close" v-on:click.prevent="deleted(memo)" v-if="role!=='view' && project_finished===null">
                            <i class="fas fa-times"></i>
                        </span>
                </div>
                <textarea @keydown.enter.exact.prevent class="tc-note-description"
                          v-model="memo.description" v-on:keyup.enter="updated(memo)" v-if="role!=='view' && project_finished===null">
                </textarea>
                <textarea class="tc-note-description" style="pointer-events: none" v-model="memo.description" v-else></textarea>
            </div>
        </div>
        <div v-for="message in messages.description" v-show="elementVisible">
            {{ message }}
        </div>
    </div>
</template>

<script>
import '../../sass/memos.scss';

export default {
    data() {
        return {
            memos: this.memos_prop,
            messages: [],
            elementVisible: false,
            role: this.role_prop,
            isPointer: 'pointer',
        };
    },
    mounted() {
        if(this.role==='view' || this.project_finished!==null) {
            this.isPointer = 'default'
        }
    },
    methods: {
        created() {
            let memo = { description: "...", project_id: this.project_id};
            this.memos.push(memo);
        },
        updated(memo) {
            if(memo.id) {
                axios.put('/api/memos/'+memo.id, {
                    description: memo.description
                });
            }
            else {
                const idx = this.memos.indexOf(memo)
                axios.post('/api/memos/', memo)
                .then(response => {
                    this.memos[idx].id = response.data.id
                })
                .catch(error => {
                    this.messages = error.response.data.errors;
                    this.elementVisible = true;
                    setTimeout(() => this.elementVisible = false, 3000)
                });
            }
        },
        deleted(memo) {
            if(memo.id) {
                axios.delete('/api/memos/'+memo.id)
            }
            const idx = this.memos.indexOf(memo)
            this.memos.splice(idx, 1);
        },
    },
    props: ['role_prop', 'memos_prop', 'project_id', 'project_finished'],
};
</script>
