<template>
    <ais-instant-search
        :search-client="searchClient"
        index-name="users"
    >
        <ais-search-box placeholder="Czego szukasz?"/>
        <div class="d-flex" style="justify-content: space-between" v-if="this.user.role === 'admin'">
            <ais-refinement-list class="profile"
                                 attribute="active"
                                 :transform-items="transformItemsActive"
            />
            <ais-refinement-list class="profile"
                                 attribute="role"
                                 :transform-items="transformItemsAdmin"
            />
        </div>
        <ais-configure v-if="this.user.role !== 'admin'" :filters="filters" />
        <ais-stats class="stats1">
            <template slot-scope="{ nbHits, page, nbPages }">
                <div class="mt-2 ml-1"
                     v-html="getResultText(nbHits, page, nbPages)">
                </div>
            </template>
        </ais-stats>
        <ais-hits class="profile">
            <div slot="item" slot-scope="{ item }">
                <a :href="'/profiles/' + item.id" style="text-decoration: none">
                    <div v-if="item.avatar_image === null">
                        <img :src="gravatar(item.email)" class="rounded-circle" style="width: 45px">
                    </div>
                    <div v-else>
                        <img :src="link + item.avatar_image" class="rounded-circle" style="width: 45px; height: 45px">
                    </div>
                    <p>{{ item.name }}</p>
                </a>
            </div>
        </ais-hits>
        <ais-pagination class="pagination1 mt-3" v-if="isShowingPagination"></ais-pagination>
    </ais-instant-search>
</template>

<script>
import algoliasearch from 'algoliasearch/lite';
import md5 from "md5";
import '../../sass/profile-search.scss';

export default {
    data() {
        return {
            searchClient: algoliasearch(
                process.env.MIX_ALGOLIA_APP_ID,
                process.env.MIX_ALGOLIA_SEARCH
            ),
            isShowingPagination: true,
            filters: 'active:1',
        };
    },
    methods:{
        transformItemsActive(items) {
            return items.map(item => ({
                ...item,
                label: item.label === '0' ? 'Nieaktywni użytkownicy' : 'Aktywni użytkownicy',
            }));
        },
        transformItemsAdmin(items) {
            return items.map(item => ({
                ...item,
                label: item.label === 'admin' ? 'Administratorzy' : 'Użytkownicy',
            }));
        },
        getResultText(nbHits, page, nbPages) {
            this.isShowingPagination = nbPages > 1;
            let text = ''
            if (nbHits === 0)
                text = `Nie znaleziono użytkowników.`
            if (nbHits === 1)
                text = `Znaleziono ${ nbHits } użytkownika`
            if (nbHits > 1)
                text = `Znaleziono ${ nbHits } użytkowników`
            if (nbPages > 1) text += ` - <br class="d-md-none" />Strona ${ page + 1 } z ${ nbPages }`

            return text
        },
        gravatar (str) {
            const hash = md5(str);
            return `https://www.gravatar.com/avatar/${hash}?s=45'`;
        }
    },
    props: ['user', 'link'],
};
</script>
