<template>
    <div class="row ">
        <div class="col-md-10">
            <div class="panel-body chat-panel mb-3 card scroll" style="flex: 1">
                <ul class="chat">
                    <li class="d-flex" v-for="conversation in conversations">
                        <div v-if="conversation.id" class="d-flex" style="flex: 1">
                            <div class="chat-body clearfix" style="flex: 1">
                                <div class="header">
                                    <strong class="primary-font">{{ conversation.user.name }}</strong>
                                </div>
                                <input v-model="conversation.message"
                                       @keydown.enter.exact.prevent
                                       @keyup.enter="updated(conversation)"
                                       v-if="user_id===conversation.user.id">
                                <p v-else>{{ conversation.message }}</p>
                            </div>
                            <button class="btn" @click.prevent="deleted(conversation)" v-if="user_id===conversation.user.id">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                        <div v-else>
                            <div class="chat-body clearfix d-flex" style="flex: 1; grid-gap: 5px">
                                <strong class="primary-font">{{ conversation[0] }}</strong>
                                <p>{{ conversation[1] }}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="input-group">
                <input type="text" class="form-control input-sm border" placeholder="Wpisz swoją wiadomość..." v-model="message" @keyup.enter="store()" autofocus />
                <span class="input-group-append">
                    <button class="btn btn-primary" id="btn-chat" @click.prevent="store()">
                        <i class="fas fa-reply"></i> Wyślij
                    </button>
                </span>
            </div>
        </div>
        <div class="col-md-2 mt-md-0 mt-3">
            <div class="panel-body chat-panel mb-3 card scroll">
                <div class="p-3 text-center" v-for="user in users">
                    <a :href="'/profiles/'+user.id">{{ user.name }}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['project_prop', "project_conversations_prop", 'project_id_prop', 'user_id_prop'],
    data() {
        return {
            conversations: this.project_conversations_prop,
            message: '',
            project: this.project_prop,
            project_id: this.project_id_prop,
            user_id: this.user_id_prop,
            users: [],
        }
    },
    mounted() {
        this.scrollToElement();
        this.listenForNewMessage();
        this.listenForDeletedMessage();
        this.listenForUpdatedMessage();
    },
    methods: {
        scrollToElement() {
            const container = this.$el.querySelector('.chat-panel');
            container.scrollTop = container.scrollHeight;
        },
        store() {
            axios.post('/conversations', {message: this.message, project_id: this.project_id})
                .then((response) => {
                    this.message = '';
                    console.log(response.data)
                    this.conversations.push(response.data);
                    this.$nextTick(
                        () => {
                            this.scrollToElement();
                        })

                });
        },
        updated(conversation) {
            axios.put('/conversations/'+conversation.id, {
                message: conversation.message
            });
        },
        deleted(conversation) {
            axios.delete('/conversations/'+conversation.id);
            const idx = this.conversations.indexOf(conversation);
            this.conversations.splice(idx, 1);
        },
        listenForNewMessage() {
            Echo.join('pchat.' + this.project_id)
                .here((users) => {
                    this.users = users
                })
                .joining((user) => {
                   this.conversations.push([user.name, 'dołączył do czatu!']);
                    this.$nextTick(
                        () => {
                            this.scrollToElement();
                        })
                })
                .leaving((user) => {
                    this.conversations.push([user.name, 'opuścił czat.']);
                    this.$nextTick(
                        () => {
                            this.scrollToElement();
                        })
                })
                .error((error) => {
                    console.error(error);
                })
                .listen('NewMessage', (e) => {
                    this.conversations.push(e);
                    this.$nextTick(
                        () => {
                            this.scrollToElement();
                        })
                });
        },
        listenForDeletedMessage() {
            Echo.join('pchat.' + this.project_id)
                .listen('DeletedMessage', (e) => {
                    const idx = this.conversations.indexOf(e);
                    this.conversations.splice(idx, 1);
                });
        },
        listenForUpdatedMessage() {
            Echo.join('pchat.' + this.project_id)
                .listen('UpdatedMessage', (e) => {
                    const idx = this.conversations.indexOf(e);
                    this.conversations.splice(idx, 1, e);
                });
        }
    }
}
</script>

<style scoped>
    .scroll::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: white;
    }

    .scroll::-webkit-scrollbar
    {
        width: 6px;
        background-color: white;
    }

    .scroll::-webkit-scrollbar-thumb
    {
        background-color: rgb(52, 144, 220);
    }

    input {
        border: none;
        outline: 0;
        color: #777777;
        width: 100%
    }

    .chat
    {
        list-style: none;
        margin: 0;
        padding: 15px;
    }

    .chat li
    {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px dotted #B3A9A9;
    }

    .chat li .chat-body p
    {
        margin: 0;
        color: #777777;
    }

    .chat
    {
        margin-right: 5px;
    }

    .chat-panel
    {
        overflow-y: scroll;
        height: 350px;
    }
</style>
