<template>
    <ais-instant-search
        :search-client="searchClient"

        index-name="projects"
    >

        <ais-search-box placeholder="Czego szukasz?"/>
        <div class="d-flex" style="justify-content: space-between">
            <ais-refinement-list class="project"
                                 attribute="is_finished"
                                 :transform-items="transformItemsFinished"
            />
            <ais-refinement-list class="project" v-if="this.user.role === 'admin'"
                                 attribute="is_public"
                                 :transform-items="transformItemsPublic"
            />
        </div>

        <ais-configure :hits-per-page.camel="5" />
        <ais-configure v-if="this.user.role !== 'admin'" :filters="filters" />
        <ais-stats class="stats1">
            <template slot-scope="{ nbHits, page, nbPages }">
                <div class="mt-3 ml-1"
                     v-html="getResultText(nbHits, page, nbPages)">
                </div>
            </template>
        </ais-stats>
        <ais-hits class="project">
            <div slot="item" slot-scope="{ item }">
                <div v-if="auth(item)">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a :href="'/projects/' + item.id">{{ item.title }}</a>
                            </h3>
                            <div class="card-text">{{ item.short_body }}</div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">
                                <a>{{ item.title }}</a>
                            </h3>
                            <div>
                                <div class="card-text">{{ item.short_body }}</div>
                                <div v-if="itemsContains(item.id)">
                                    <form v-on:click.prevent="destroy(item)">
                                        <button type="submit" class="btn btn-outline-light btn-block btn-sm mt-5"
                                                style="color: gray">Anuluj prośbę o dołączenie
                                        </button>
                                    </form>
                                </div>
                                <div v-else>
                                    <form v-on:click.prevent="submit(item)">
                                        <input hidden name="role" v-model="item">
                                        <button type="submit" class="btn btn-outline-light btn-block btn-sm mt-5"
                                                style="color: gray">Wyślij prośbę o dołączenie
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ais-hits >
        <ais-pagination class="pagination1 mt-3" v-if="isShowingPagination"></ais-pagination>
    </ais-instant-search>
</template>

<script>
import '../../sass/project-search.scss';
import algoliasearch from 'algoliasearch/lite';

export default {
    data() {
        return {
            searchClient: algoliasearch(
                process.env.MIX_ALGOLIA_APP_ID,
                process.env.MIX_ALGOLIA_SEARCH
            ),
            request: this.requests,
            filters: 'is_public:1',
            isShowingPagination: true
        };
    },
    methods: {
        transformItemsFinished(items) {
            return items.map(item => ({
                ...item,
                label: item.label === '0' ? 'Aktywne projekty' : 'Ukończone projekty',
            }));
        },
        transformItemsPublic(items) {
            return items.map(item => ({
                ...item,
                label: item.label === '0' ? 'Niepubliczne projekty' : 'Publiczne projekty',
            }));
        },
        getResultText(nbHits, page, nbPages) {
            this.isShowingPagination = nbPages > 1;
            let text = ''
            if (nbHits === 0)
                text = `Nie znaleziono projektów.`
            if (nbHits === 1)
                text = `Znaleziono ${ nbHits } projekt`
            if (nbHits > 1)
                text = `Znaleziono ${ nbHits } projektów`
            if (nbPages > 1) text += ` - <br class="d-md-none" />Strona ${ page + 1 } z ${ nbPages }`

            return text
        },
        auth: function (item) {
            if(this.user.role === 'admin') {
                return true;
            }
            if (this.user.id === item.user_id) {
                return true;
            }
            if(!!item.team) {
                for (let i = 0; i < item.team.length; i++) {
                    if (this.user.id === item.team[i]) {
                        return true;
                    }
                }
            }
        },
        submit(item) {
            axios.post('/api/projects/'+item.id+'/request/'+this.user.id);
            this.request.push(item.id)
        },
        destroy(item) {
            axios.delete('/api/projects/'+item.id+'/request/'+this.user.id);
            this.request = this.request.filter(value => value !== item.id)
        },
        itemsContains(n) {
            return this.request.indexOf(n) > -1;
        }
    },
    props: ['user', 'requests'],
};
</script>
